header{
    display: flex;
}
#address{
    margin-left: 626px;
    margin-top: auto;
}
img{
    padding-left: 126px;
}
h2 {
    margin-left: 127px;

}
footer{
    text-align: center;
}


#time{
    margin: 21px 20px 0px 653px;
}
a{
    text-decoration:none ;
}